# Игнорировать файл с переменными окружения
.env

# Игнорировать виртуальное окружение Python
venv/
*.pyc
__pycache__/

# Игнорировать логи
*.log

# Игнорировать данные IDE
.idea/
.vscode/